@import "./Pages/Home/navbar";
.disp-flex{
    display: flex;
}
.justfiy-between{
    justify-content: space-between;
}
.justify-end{
    justify-content: end;
}
.align-baseline{
    align-items: baseline;
}